* {
    margin: 0;
    padding: 0;
    --main-color: rgb(202, 202, 202);
    --second-color: rgb(100, 100, 100);
    --background-color: rgb(28, 28, 28);
    /* --hover-color: rgb(100, 158, 192); */
    box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
    * {
        --main-color: rgb(65, 65, 65);
        --second-color: rgb(104, 104, 104);
        --background-color: rgb(255, 255, 255);
        /* --hover-color: rgb(207, 44, 58); */
    }
}

html {
    background-color: var(--background-color);
}

#header {
    margin: 15px 0;
    text-align: center;
}

#searchbar {
    width: 35%;
    height: 2em;
    padding: 0 5px;
    text-align: center;
    color: var(--main-color);
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--second-color);
}

#container {
    width: 81%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

.group {
    margin: 0 5px;
}

.groupname {
    font-size: 0.9em;
    margin-bottom: 3px;
    color: var(--second-color);
    padding-left: 4px;
}

.groupcontent {
    border-top: 1px solid var(--second-color);
    padding: 5px;
}

.sitebtn {
    display: inline-block;
    border: 1.1px solid var(--second-color);
    border-radius: 5px;
    margin: 3px 2px;
    color: var(--main-color);
    padding: 2px 4px;
    cursor: pointer;
}

.sitebtn:hover {
    color: var(--background-color);
    background-color: var(--main-color);
}